/*

# Nachos
Chip - white-warm
Melted Cheese - sunflower

# brown Drink
Glass - white-warm
Ice - white-cold
Whiskey - brown

# Tea
Cup - beige
Tea String - white-warm
Tea String Label - red
Steam - white-cold

Nicoise Salad
Bowl - white-cold
Egg - white-warm
Egg Yolk - sunflower
Leaf Back - green
Leaf Front - green
Cherry Tomato - red

Espresso
Cup - beige
Plate - beige
Steam - white-cold

Cigarette
Filter - brown
Paper - beige
Lit end - Tangerine
Smoke - white-warm

Big Gulp
Cup - red
Cud Line Design - white-warm
Lid & Straw - white-cold

Cotton Candy
Paper cone - white-warm
Cotton Candy - Pink

Sorbet
Cup - white-cold
Left sorbet - red
Right sorbet - Orange
spoon handle - white-cold

Martini
Glass - white-warm
Liquid - white-cold
stick - Blue_Soft
olive - green
pimento - red

Salad
Bowl - white-warm
crutons - brown
leafs - green

Lollipop
Stem - white-warm
Candy - red

Gingerale
Can top and pull tab - white-cold
Can bottom - white-cold
Can sides - green
Shield - Yellow

Shrimp
Shrimp meat - Pink
Shrimp tail - red

red lull
Can top and pull tab - white-cold
Can bottom - white-cold
Can sides and inner slant lines - Blue
can ring - sunflower
can bull - red

Ice Cream
bowl - white-cold
ice cream L to R: green, Pink, Yellow

Jelly Beans
L to R (clockwise starting at 12) : Yellow, Purple, Blue, green
Burger
Bun top and bottom - sunflower
seasme seeds - beige
two lines under the bun - green
squiggle line (bacon) - red
Cheese corner - Yellow
Patty - brown */
